.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.btnPost{
    width: 50%;
    background-color: cornflowerblue;
    height: 3rem;
    color: aliceblue;
    border: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.img{
    width: 200px;
}